<div class="about-background-container"></div>
<h1 class="display-3">About</h1>
<p class="lead">This is a Node/Express app connecting photographers and people looking for taking great photos.</p>
<p class="lead">Version: 0.1</p>
<p class="lead">Author: Yuanjie Li</p>
<p class="lead">Dedicate to: Sabrina Wu</p>