.logo {
    width: 130px;
    margin: auto
}

.gj-icon {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 4px
}

#datepicker {
    text-indent: 10px
}

.post-taken {
    width: 25%;
}

.bio-client-button {
    border: black 1px solid;
}

.bio-client-anchor {
    text-decoration: none;
}