.logo {
    width: 200px;
    margin: auto
}

.gj-icon {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 4px
}

#datepicker {
    text-indent: 10px
}

.post-taken {
    width: 25%;
}

.bio-client-button {
    border: black 1px solid;
}

.bio-client-anchor {
    text-decoration: none;
}



/* upload image input */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: black;
    padding: 1%;
    height: 38px;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: lightblue;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

/* Home Page */
.homepage-background-container {
    background-image: url('img/background.jpg');
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    z-index: -1;
}

.homepage-container {
    opacity: 0.8;
}

.homepage-container:hover {
    opacity: 1;
}


/* About Page */

.about-background-container {
    background-image: url('img/about.jpg');
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-position: right;
    background-repeat: no-repeat;
    
    z-index: -1;
}



/* Portfolio pictures */

.portfolio {
    height: 100%;
    width: 100%;
}