

<h2>Add</h2>
<div class="card card-body">
    <h3>Job</h3>
    <form action="/jobs" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="details" required></textarea>
        </div>
        <div class="form-group">
            <label for="details">Location</label>
            <textarea class="form-control" name="location" required></textarea>
        </div>
        <input id="datepicker" width="276" name="starttime" required/>
        <div class="form-group">
            <label for="details">Duration</label>
            <textarea class="form-control" name="duration" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>